<header>
    <script src="/js/header.js"></script>

    <div class="header-mobile">

        <% if(locals.usuarioL && locals.usuarioL.rolId === 1) { %>
            <div class="administrar">
                <a href="/admin">Administrar</a>
            </div>
        <% } %>

        <div class="mobile-tablet">

            <% if (!(locals.usuarioL)) { %>
                <input type="checkbox" name="checkbox-user" id="user" class="checkbox-user">
                <label for="user" class="user">
                    <div class="user-icon"><img src="/images/iconos/user-negro.png" alt="Icono de usuario"></div>
                </label>
            <% } else { %>
                <input type="checkbox" name="checkbox-user" id="user" class="checkbox-user">
                <label for="user" class="user">
                    <div class="user-image"><img src="/images/usuarios/<%= locals.usuarioL.image %>" alt="Imágen de perfil del usuario"></div>
                </label>
            <% } %>
            <div class="user-checked">
                <% if (!(locals.usuarioL)) { %>
                    <p><a href="/users/registro">Crear una cuenta</a> | <a href="/users/login">Iniciar sesión</a></p>
                <% } else { %>
                    <a href="/users/perfil"><%= locals.usuarioL.first_name %> <%= locals.usuarioL.last_name %> <i class="fas fa-cog"></i></a>
                <% } %>
            </div>

            <div class="message">
                <div class="truck-icon"><img src="/images/iconos/camion-negro.png" alt="Icono de camión"></div>
                <p><span>Envíos gratis</span> en compras mayores a $3.000.</p>
            </div>

            <input type="checkbox" id="search" class="checkbox-search">
            <label for="search" class="search" id="search">
                <div class="search-icon"><img src="/images/iconos/lupa1-negro.png" alt="Icono de lupa"></div>
            </label>
            <label for="search" class="search" id="arrow">
                <div class="arrow-icon"><img src="/images/iconos/cancel-negro.png" alt="Cerrar buscador"></div>
            </label>
            <div class="search-checked">
                <form action="/buscar" method="GET" class="search-form">
                    <input type="text" name="keywords" id="search0" placeholder="Ingrese su búsqueda">
                    <button type="submit">
                        <div class="search-icon"><img src="/images/iconos/lupa1-negro.png" alt="Buscar"></div>
                    </button>
                </form>
            </div>

        </div>

    </div>

    <div class="desktop">
        <div class="message">
            <div class="truck-icon"><img src="/images/iconos/camion-negro.png" alt="Icono de camión"></div>
            <p><span>Envíos gratis</span> en compras mayores a $3.000.</p>
        </div>
        <div class="user">
            <% if (!(locals.usuarioL)) { %> 
                <div class="user-icon"><i class="far fa-user-circle"></i></div>
                <p><a href="/users/registro">Crear una cuenta</a> | <a href="/users/login">Iniciar sesión</a></p>
            <% } else { %>
                <div class="user-image"><img src="/images/usuarios/<%= locals.usuarioL.image %> " alt="Imágen de perfil del usuario"></div>
                <label for="user-options"><%= locals.usuarioL.first_name %> <%= locals.usuarioL.last_name %> <i class="fas fa-caret-down"></i></label>
                <input type="checkbox" name="user-options" id="user-options">
                <ul>
                    <li><a href="/users/perfil">Tu perfil <i class="fas fa-cog"></i></a></li>
                    <li class="logout"><form action="/users/logout" method="GET" class="logout"><button type="submit">Cerrar sesión <i class="fas fa-power-off"></i></button></form></li>
                </ul>
            <% } %> 
        </div>
    </div>

    <nav class="nav-bar">

        <nav class="menu">

            <label class="label-menu">
                <img src="/images/iconos/menu-negro.png" alt="Icono de menú">
                <h3>Productos</h3>
            </label>

            <ul class="ul-menu">
                <li class="close-menu categoriesLi"><img src="/images/iconos/cancel-negro.png" alt="Cerrar menú"></li>

                <li class="categoriesLi"><a href="/productos"><span>●</span> Todo <span>●</span></a></li>

                <% categories.forEach(category => { %>
                    <li class="categoriesLi"><a href=<%= `/productos?c=${category.id}` %>><span>●</span> <%= category.name %> <span>●</span></a></li>
                <% }) %>

                <li class="brands"> Marcas <img src="/images/iconos/flecha-der-violeta.png">
                    <div class="ul-brands">
                        <ul>
                            <% brands.forEach(brand => { %>
                                <li><a href=<%= `/productos?m=${brand.id}` %>><span>●</span> <%= brand.name %> <span>●</span></a></li>
                            <% }) %>
                        </ul>
                    </div>
                </li>
            </ul>

        </nav>

        <div class="logo">
            <a href="/"><img src="/images/logo-sorpresa-magica.png" alt="logo"></a>
        </div>

        <div class="cart">
            <span class="quantity-cart-icon">4</span>
            <img src="/images/iconos/carrito-negro.png" alt="Icono de carrito">
            <h3>Carrito</h3>
            <div class="dropDown-cart">
                <img src="/images/iconos/cancel-negro.png" alt="Cerrar carrito" class="close-cart">
                <h3>Mi carrito</h3>
                <div class="cartProducts">
                    <section>
                        <article>
                            <img src="/images/productos/AlfajorMILKATripleMousse55Gr74,04.png" alt="Alfajor MILKA Triple Mousse 55gr">
                            <div class="descripcion-cart">
                                <h4>Alfajor MILKA Triple Mousse 55gr</h4>
                                <div class="cantidad">
                                    <button class="less">-</button>
                                    <input type="text" value="1">
                                    <button class="more">+</button>
                                </div>
                                <p>x $74,04</p>
                                <img src="/images/iconos/tacho-negro.png" alt="Eliminar productor" class="tachito">
                            </div>
                        </article>
                        <article>
                            <img src="/images/productos/CaramelosDurosARCORRodajasFrutalesAcidas930Gr883,87.png" alt="Caramelos Duros ARCOR Rodajas Frutales Acidas 930gr">
                            <div class="descripcion-cart">
                                <h4>Caramelos Duros ARCOR Rodajas Frutales Acidas 930gr</h4>
                                <div class="cantidad">
                                    <button class="less">-</button>
                                    <input type="text" value="1">
                                    <button class="more">+</button>
                                </div>
                                <p>x $883.87</p>
                                <img src="/images/iconos/tacho-negro.png" alt="Eliminar productor" class="tachito">
                            </div>
                        </article>
                        <article>
                            <img src="/images/productos/CaramelosHALLSCreamyMora27Gr53,21.jpg" alt="Caramelos HALLS Creamy Mora 27gr">
                            <div class="descripcion-cart">
                                <h4>Caramelos HALLS Creamy Mora 27gr</h4>
                                <div class="cantidad">
                                    <button class="less">-</button>
                                    <input type="text" value="1">
                                    <button class="more">+</button>
                                </div>
                                <p>x $53.21</p>
                                <img src="/images/iconos/tacho-negro.png" alt="Eliminar productor" class="tachito">
                            </div>
                        </article>
                        <article>
                            <img src="/images/productos/Chicles7UltraGreenTOPLINEEst24Gr109,99.jpg" alt="Chicles 7 Ultra Green TOPLINE 24gr">
                            <div class="descripcion-cart">
                                <h4>Chicles 7 Ultra Green TOPLINE 24gr</h4>
                                <div class="cantidad">
                                    <button class="less">-</button>
                                    <input type="text" value="1">
                                    <button class="more">+</button>
                                </div>
                                <p>x $109.99</p>
                                <img src="/images/iconos/tacho-negro.png" alt="Eliminar productor" class="tachito">
                            </div>
                        </article>
                    </section>
                </div>
                <h5>Subtotal $549</h5>
                <a href="/carrito">Ir al carrito</a>
            </div>
        </div>

    </nav>

    <nav class="nav-bar-desktop">
        <div class="logo">
            <a href="/"><img src="/images/logo-sorpresa-magica.png" alt="logo"></a>
        </div>
        <div class="desktop-nav">
            <ul>
                <li>
                    <a href="/">
                        <h3>Inicio</h3>
                    </a>
                </li>
                <li class="productos">
                    <a href="/productos">
                        <h3>Productos</h3>
                    </a>
                    <nav>
                        <ul>
                            <li><a href="/productos"><span>●</span> Todo <span>●</span></a></li>
                            <% categories.forEach(category => { %>
                                <li><a href=<%=`/productos?c=${category.id}`%>><span>●</span> <%= category.name %> <span>●</span></a></li>
                            <% }) %> 
                            <li class="brands"> Marcas <img src="/images/iconos/flecha-der-violeta.png">
                                <div class="ul-brands">
                                    <ul>
                                        <% brands.forEach(brand => { %>
                                            <li><a href=<%= `/productos?m=${brand.id}` %>> <%= brand.name %> </a></li>
                                        <% }) %>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </li>
                <li>
                    <a href="/contacto">
                        <h3>Contacto</h3>
                    </a>
                </li>
                <% if(locals.usuarioL && locals.usuarioL.rolId === 1) { %>
                <li>
                    <a href="/admin">
                        <h3>Administrar</h3>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="search">
            <form action="/buscar" method="GET" class="search-form1">
                <input type="text" name="keywords" id="search1" placeholder="Ingrese su búsqueda">
                <button type="submit">
                    <div class="search-icon"><img src="/images/iconos/lupa1-negro.png" alt="Buscar"></div>
                </button>
            </form>
        </div>
        <div class="cart">
            <span class="quantity-cart-icon">4</span>
            <img src="/images/iconos/carrito-negro.png" alt="Icono de carrito">
            <div class="dropDown-cart">
                <h3>Mi carrito</h3>
                <div class="cartProducts">
                    <section>
                        <article>
                            <img src="/images/productos/AlfajorMILKATripleMousse55Gr74,04.png" alt="Alfajor MILKA Triple Mousse 55gr">
                            <div class="descripcion-cart">
                                <h4>Alfajor MILKA Triple Mousse 55gr</h4>
                                <div class="cantidad">
                                    <button class="less">-</button>
                                    <input type="text" value="1">
                                    <button class="more">+</button>
                                </div>
                                <p>x $74,04</p>
                                <img src="/images/iconos/tacho-negro.png" alt="Eliminar productor" class="tachito">
                            </div>
                        </article>
                        <article>
                            <img src="/images/productos/CaramelosDurosARCORRodajasFrutalesAcidas930Gr883,87.png" alt="Caramelos Duros ARCOR Rodajas Frutales Acidas 930gr">
                            <div class="descripcion-cart">
                                <h4>Caramelos Duros ARCOR Rodajas Frutales Acidas 930gr</h4>
                                <div class="cantidad">
                                    <button class="less">-</button>
                                    <input type="text" value="1">
                                    <button class="more">+</button>
                                </div>
                                <p>x $883.87</p>
                                <img src="/images/iconos/tacho-negro.png" alt="Eliminar productor" class="tachito">
                            </div>
                        </article>
                        <article>
                            <img src="/images/productos/CaramelosHALLSCreamyMora27Gr53,21.jpg" alt="Caramelos HALLS Creamy Mora 27gr">
                            <div class="descripcion-cart">
                                <h4>Caramelos HALLS Creamy Mora 27gr</h4>
                                <div class="cantidad">
                                    <button class="less">-</button>
                                    <input type="text" value="1">
                                    <button class="more">+</button>
                                </div>
                                <p>x $53.21</p>
                                <img src="/images/iconos/tacho-negro.png" alt="Eliminar productor" class="tachito">
                            </div>
                        </article>
                        <article>
                            <img src="/images/productos/Chicles7UltraGreenTOPLINEEst24Gr109,99.jpg" alt="Chicles 7 Ultra Green TOPLINE 24gr">
                            <div class="descripcion-cart">
                                <h4>Chicles 7 Ultra Green TOPLINE 24gr</h4>
                                <div class="cantidad">
                                    <button class="less">-</button>
                                    <input type="text" value="1">
                                    <button class="more">+</button>
                                </div>
                                <p>x $109.99</p>
                                <img src="/images/iconos/tacho-negro.png" alt="Eliminar productor" class="tachito">
                            </div>
                        </article>
                    </section>
                </div>
                <h5>Subtotal <span>$549</span></h5>
                <a href="/carrito" class="goToCart">Ir al carrito</a>
            </div>
        </div>
    </nav>

</header>

<div class="goTop" title="Ir arriba"><img src="/images/iconos/flecha-der-celeste.png" alt="Ir arriba"></div>
<script src="/js/goTop.js"></script>
