<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {title: 'Administrador'}) %>

  <body>

    <%- include('./partials/header') %>

      <main class="admin">

        <div class="titulo">
          <h1>Listado de productos</h1>
          <a href="/admin/create"><button type="button" class="btn btn-secondary">Agregar nuevo producto</button></a>
        </div>

        <div class="table-responsive">
          <table class="table">

            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Imágen</th>
                <th scope="col">Nombre</th>
                <th scope="col">Marca</th>
                <th scope="col">Precio</th>
                <th scope="col">Descuento</th>
                <th scope="col">Precio final</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>

            <tbody>
              
                <% products.forEach(product => { %>
                  <tr>
                    <th id=<%= product.id %> scope="row"><%= product.id %></th>
                    <td><a href="/productos/detalle/<%= product.id %>#slide1"><img src="/images/productos/<%= product.image %>" alt="..." width="90px"></a></td>
                    <td><a href="/productos/detalle/<%= product.id %>#slide1"><%= product.title %></a></td>
                    <td><%= product.brand.name %></td>
                    <td>$<%= product.price %></td>
                    <% if (product.discount > 0) { %>
                      <td><%= product.discount %>%</td>
                      <td>$<%= finalPrice(product.price, product.discount) %></td>
                    <% } else { %>
                      <td> - </td>
                      <td>$<%= product.price %></td>
                    <% } %> 
                    <td>
                      <a href="/admin/edit/<%= product.id %> "><button type="button" class="btn btn-outline-primary"><i class="fas fa-pen btn-outline-primary"></i> Editar</button></a>
                    </td>

                    <td>
                      <form action="/admin/delete/<%= product.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-outline-danger"><i class="fas fa-trash btn-outline-danger"></i> Eliminar</button>
                      </form>
                    </td>

                  </tr>
                <% }) %> 
                
            </tbody>

          </table>
        </div>

      </main>

      <%- include('./partials/footer') %>

  </body>

</html>