<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {title: 'Crear un producto'}) %>

  <body>

    <%- include('./partials/header') %>

      <main class="create">

        <h1>Crear un producto</h1>

        <form action="/admin/create" method="post" enctype="multipart/form-data">

          <div class="row g-2">

            <div class="separador">

              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGrid" placeholder="Nombre del producto" name="title" value=<%= locals.old && old.title ? old.title : null %>>
                  <label for="floatingInputGrid">Nombre del producto</label>
                </div>
                <% if (locals.errors && errors.title) { %> 
                  <small> <%= errors.title.msg %>  </small>
                  <% } %> 
              </div>

              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGrid" placeholder="Marca" name="marca"  value=<%= locals.old && old.marca ? old.marca : null %>>
                  <label for="floatingInputGrid">Marca</label>
                </div>
                <% if (locals.errors && errors.marca) { %> 
                  <small> <%= errors.marca.msg %>  </small>
                  <% } %> 
              </div>

            </div>

            <div class="separador">

              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGrid" placeholder="Precio" name="price"  value=<%= locals.old && old.price ? old.price : null %>>
                  <label for="floatingInputGrid">Precio</label>
                </div>
                <% if (locals.errors && errors.price) { %> 
                  <small> <%= errors.price.msg %>  </small>
                  <% } %> 
              </div>

              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGrid" placeholder="Descuento" name="descuento" value=<%= locals.old && old.descuento ? old.descuento : null %>>
                  <label for="floatingInputGrid">Descuento</label>
                </div>
                <% if (locals.errors && errors.descuento) { %> 
                  <small> <%= errors.descuento.msg %>  </small>
                  <% } %> 
              </div>

            </div>

            <div class="separador">

              <div class="col-md">
                <div class="form-floating">
                  <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" name="categoria">
                    <option value="" <%= locals.old && old.categoria === '' ? 'selected' : null %> hidden>Seleccioná una categoría</option>
                    <% categories.forEach(category => { %> 
                      <option value=<%= category.id %>  <%= locals.old && old.categoria === category.id ? 'selected' : null %>> <%= category.name %> </option>
                    <% }) %> 
                  </select>
                  <label for="floatingSelectGrid">Categoría</label>
                </div>
                <% if (locals.errors && errors.categoria) { %> 
                  <small> <%= errors.categoria.msg %>  </small>
                  <% } %> 
              </div>

              <div class="col-md">
                <div class="form-floating">
                  <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" name="destacado"> 
                    <option value="" <%= locals.old && old.destacado === '' ? 'selected' : null %> hidden>¿Es un producto destacado?</option>
                    <option value=1 <%= locals.old && old.destacado === 1 ? 'selected' : null %>>Si</option>
                    <option value=0 <%= locals.old && old.destacado === 0 ? 'selected' : null %>>No</option>
                  </select>
                  <label for="floatingSelectGrid">Destacado</label>
                </div>
                <% if (locals.errors && errors.destacado) { %> 
                  <small> <%= errors.destacado.msg %>  </small>
                  <% } %> 
              </div>

            </div>

            <div class="separador">

              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGrid" placeholder="Descripción del producto" name="descripcion" value=<%= locals.old && old.descripcion ? old.descripcion : null %>>
                  <label for="floatingInputGrid">Descripción del producto</label>
                </div>
                <% if (locals.errors && errors.descripcion) { %> 
                  <small> <%= errors.descripcion.msg %>  </small>
                  <% } %> 
              </div>

              <div class="col-md">
                <div class="mb-3">
                  <label for="formFile" class="form-label">Seleccione una imágen del producto</label>
                  <input class="form-control" type="file" id="formFile" name="image" accept="image/*">
                </div>
              </div>

            </div>

              <div class="separador">

                <div class="col-md">
                  <div class="button-crear">
                    <button type="submit" class="btn btn-outline-info">Crear</button>
                  </div>
                </div>
                
              </div>

          </div>

        </form>

      </main>

      <%- include('./partials/footer') %>

  </body>

</html>