<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {title: 'Editar un producto'}) %>

  <body>

    <%- include('./partials/header') %>

      <main class="edit">

        <h1>Editar un producto</h1>

        <form action="/admin/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

          <div class="row g-2">

            <div class="separador">

              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGrid" value="<%= product.title %>" name="title">
                  <label for="floatingInputGrid">Nombre del producto</label>
                </div>
                <% if (locals.errors && errors.title) { %> 
                  <small> <%= errors.title.msg %>  </small>
                  <% } %> 
              </div>

              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGrid" value="<%= product.brand.name %>" name="marca">
                  <label for="floatingInputGrid">Marca</label>
                </div>
                <% if (locals.errors && errors.marca) { %> 
                  <small> <%= errors.marca.msg %>  </small>
                  <% } %> 
              </div>

            </div>

            <div class="separador">

              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGrid" value="<%= product.price %>" name="price">
                  <label for="floatingInputGrid">Precio</label>
                </div>
                <% if (locals.errors && errors.price) { %> 
                  <small> <%= errors.price.msg %>  </small>
                  <% } %> 
              </div>

              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGrid" value="<%= product.discount? product.discount : 0 %>" name="descuento">
                  <label for="floatingInputGrid">Descuento</label>
                </div>
                <% if (locals.errors && errors.descuento) { %> 
                  <small> <%= errors.descuento.msg %>  </small>
                  <% } %> 
              </div>

            </div>

            <div class="separador">

              <div class="col-md">
                <div class="form-floating">
                  <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" name="categoria">
                    <option value="" selected hidden>Seleccioná una categoría</option>
                    <% categories.forEach(category => { %> 
                      <option value=<%= category.id %> <%= product.category_id === category.id? "selected" : null %>><%= category.name %> </option>
                    <% }) %> 
                  </select>
                  <label for="floatingSelectGrid">Categoría</label>
                </div>
                <% if (locals.errors && errors.categoria) { %> 
                  <small> <%= errors.categoria.msg %>  </small>
                  <% } %> 
              </div>

              <div class="col-md">
                <div class="form-floating">
                  <select class="form-select" id="destacado" name="destacado" aria-label="Floating label select example">
                    <option selected hidden>Es un producto destacado</option>
                    <option value=1 <%= product.featured_product === 1? "selected" : null %>>Si</option>
                    <option value=0 <%= product.featured_product === 0? "selected" : null %>>No</option>
                  </select>
                  <label for="floatingSelectGrid">Destacado</label>
                </div>
                <% if (locals.errors && errors.destacado) { %> 
                  <small> <%= errors.destacado.msg %>  </small>
                  <% } %> 
              </div>

            </div>

            <div class="separador">

              <div class="col-md">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGrid" placeholder="Descripción del producto" name="descripcion" value=<%= product.description %>>
                  <label for="floatingInputGrid">Descripción del producto</label>
                </div>
                <% if (locals.errors && errors.descripcion) { %> 
                  <small> <%= errors.descripcion.msg %>  </small>
                  <% } %> 
              </div>

              <div class="col-md">
                <div class="mb-3">
                  <label for="formFile" class="form-label">Seleccione una imágen del producto</label>
                  <input class="form-control" type="file" id="formFile" name="image" accept="image/*">
                </div>
              </div>

            </div>

              <div class="separador">

                <div class="col-md">
                  <div class="button-crear">
                    <button type="submit" class="btn btn-outline-info">Editar</button>
                  </div>
                </div>
                
              </div>

          </div>

        </form>

      </main>

      <%- include('./partials/footer') %>

  </body>

</html>