<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
    <body>

        <%- include('./partials/header') %>
    
       
    
        <%- include('./partials/nav') %>

        <main class="productos">
           
            <section class="conteiner">
                <ul class="slider">
                    <li id="slide1">
                        <img src="/images/productos/<%= product.image %> " alt="Foto alfajor 1"/>  
                    </li>
                
                    <li id="slide2">
                        <img src="/images/productos/<%= product.image %>" alt="">  
                    </li>
              
                    <li id="slide3">
                        <img src="/images/productos/<%= product.image %>" alt="Foto alfajor 3"/>  
                    </li>
                </ul>
            </section>
            <ul class="menu">
               <li>
                   <a href="#slide1">1</a>
               </li>
               <li>
                   <a href="#slide2">2</a>
               </li>
               <li>
                   <a href="#slide3">3</a>
               </li>
            </ul>
           <!-- <section>
              <article>
                <img src="/images/productos/Alfajor MILKA Triple Mousse 55 Gr 74,04.png" alt="Foto alfajor 1"/>
              </article>

              <article>
                <img src="/images/productos/Alfajor MILKA Triple Mousse 55 Gr 74,04.png" alt="Foto alfajor 2"/>
              </article>

              <article>
                <img src="/images/productos/Alfajor MILKA Triple Mousse 55 Gr 74,04.png" alt="Foto alfajor 3"/>
              </article>
            </section>-->
         <div class="conteinerDetalle">
           <section  class="price">
              <div >
                <h1><%= product.title %> </h1>
             </div>  

             <p>$ <%= product.price %> </p>

            </section>

             <div class="rayas"> </div>
     
            <section class="cantidad" >
              <div class="cant">
                <span>Cantidad</span>
              </div>

              <div class="numeber">
               <p>1</p>
              </div>

              <div class="angle">
               <i class="fas fa-angle-right"></i>
              </div>
            </section>
          
            <section>
             <button class="agregar">AGREGAR AL CARRITO</button>
           </section>

          <section class="CP">
             <div class="postal">

              <SPan>Tu código postal</SPan>
         
              <button class="calcular">Calcular</button>
            </div>
          </section>
        </div>
          <div class="rayas"> </div>
        <section class="fondo">
          <section class="descripcion">
            <h2>Descripcion</h2>
            <p>Alfajor de chocolate Triple relleno de mouse <br> 55 gr </p>
          </section>
           <div>
             <h2>PRODUCTOS RELACIONADOS</h2> 
           </div>
         <section class="productosRelacionados">
            <% products = products.filter(product => product.categoria === 'Alfajores') %> 
             <% products.forEach(product => {   %> 
              <article>
                 <img src="/images/productos/<%= product.image %> " alt="imagen1"/>
                <h6><%= product.marca %> </h6>
                <h3><%= product.title %>  <br> 55gr</h3>
                <span class="precio"><%= product.price %> </span>
                <div>
                  <button>-</button>
                  <p>1</p>
                  <button>+</button>
                </div>
                <button class="agregar2">AGREGAR AL CARRITO</button>
               </article>
              <% }) %> 

         <!--    <article>
               <img src="/images/productos/ChocolateMILKACastañas155Gr477,21.jpg" alt="">
               <h6>Milka</h6>
                <h3>Alfajor Milka Mouse <br> 55gr</h3>
                <span class="precio">$ 74,04</span>
                <div>
                  <button>-</button>
                  <p>1</p>
                  <button>+</button>
                </div>
                <button class="agregar2">AGREGAR AL CARRITO</button>
               </article>
               
             <article>
               <img src="/images/productos/ConfitesDeChocolateROCKLETS40Gr73,57.jpg" alt="">
               <h6>Milka</h6>
                <h3>Alfajor Milka Mouse <br> 55gr</h3>
                <span class="precio">$ 74,04</span>
                <div>
                  <button>-</button>
                  <p>1</p>
                  <button>+</button>
                </div>
                <button class="agregar2">AGREGAR AL CARRITO</button>
               </article>

                 -->
     </main>
    </section>
    <%- include('./partials/footer') %> 


</body>
</html>
    