<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: `${product.title}` }) %>
<script src="/js/amount.js"></script>

  <body>

    <%- include('./partials/header') %>

    <main class="productos">

      <div class="product-container">

        <section class="image-detail">

          <article class="image">
            <img src="/images/productos/<%= product.image %> " alt="Foto producto" />
          </article>

          <article class="detail">
            <div class="name-price">
              <h1>
                <%= product.title %>
              </h1>
              <% if (product.discount > 0) { %>
              <div class="precio">
                <small>
                  $<%= product.price %>
                </small>
                <h2>
                  $<%= finalPrice(product.price, product.discount) %>
                </h2>
                <h3>
                  <%= product.discount %>%
                </h3>
              </div>
              <% } else { %>
              <h2>
                $ <%= product.price %>
              </h2>
              <% } %>
            </div>

            <div class="c-c-cp">
              <div class="cantidad">
                <button class="less">-</button>
                <input type="text" value="1">
                <button class="more">+</button>
            </div>
        
              <div class="comprar">
                  <button type="submit">Agregar al carrito</button>
              </div>
        
              <div class="CP">
                <div class="postal">
                  <input type="text" placeholder="Tu código postal">
                  <button class="calcular">Calcular</button>
                </div>
              </div>
            </div>
          </article>

        </section>
        
        <div class="rayas"> </div>
        
        <section class="descripcion">
          <h2>Descripción</h2>
          <p>
            <%= product.description %>
          </p>
        </section>

      </div>

            <div class="related">

              <h2>PRODUCTOS RELACIONADOS</h2>

              <section class="related-container">

              <div class="relatedProducts">
                <% relatedProducts.forEach(product=> { %>
                    <article>
                        <a href="/productos/detalle/<%= product.id %>">
                            <img src="/images/productos/<%= product.image %>"
                                alt="<%= product.title %>">
                        </a>
                        <div class="descripcion">
                            <a href="/productos/<%= product.id %>">
                                <h5>
                                    <%= product.brand.name %>
                                </h5>
                            </a>
                            <h3>
                                <a href="/productos/detalle/<%= product.id %>">
                                    <%= product.title %>
                                </a>
                            </h3>
                            <% if (product.discount > 0) { %> 
                            <div class="precio">
                                <small>
                                    $<%= product.price %> 
                                </small>
                                <h2>
                                    $<%= finalPrice(product.price, product.discount) %>
                                </h2>
                                <h3>
                                    <%= product.discount %>% 
                                </h3>
                            </div>
                            <% } else { %>
                                <h2>
                                    $<%= product.price %>
                                </h2>
                            <% } %> 
                            <div class="cantidad">
                              <button class="less">-</button>
                              <input type="text" value="1">
                              <button class="more">+</button>
                            </div>
                            <div class="comprar">
                                <button type="submit">Agregar al carrito</button>
                            </div>
                        </div>
                    </article>
                <% }) %>
              </div>

              </section>
            
            </div>

        </main>
        <%- include('./partials/footer') %>


  </body>

</html>