<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {title: 'Error'}) %> 

<body>
    
    <%- include('./partials/header') %> 

    <%- include('./partials/nav') %> 

    <main class ="error">
        
        <h1> <%= errorMsg %> </h1>

    </main>

    <%- include('./partials/footer') %> 

</body>
</html>
