<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {title: 'Home' }) %>
<script src='/js/slider.js'></script>

    <body>

        <%- include('./partials/header') %>

        <%- include('./partials/nav') %>

        <main class="home">

            <div class="slider-container">

                <section class="slider" id='slider'>

                    <article class="slider-article" id="art1">
                        <picture>
                            <source media="(min-width: 1024px)" srcset="/images/banners/banner-mix-felfort-desktop.png">
                            <source media="(min-width: 680px)" srcset="/images/banners/banner-mix-felfort-tablet.png">
                            <source srcset="/images/banners/banner-mix-felfort.png">
                            <img src="/images/banners/banner-mix-felfort-desktop.png" alt="">
                        </picture>
                    </article>
        
                    <article class="slider-article" id="art2">
                        <picture>
                            <source media="(min-width: 1024px)" srcset="/images/banners/banner-edulzatusmm-desktop.png">
                            <source media="(min-width: 680px)" srcset="/images/banners/banner-edulzatusmm-tablet.png">
                            <source srcset="/images/banners/banner-edulzatusmm.png">
                            <img src="/images/banners/banner-edulzatusmm-desktop.png" alt="">
                        </picture>
                    </article>
        
                    <article class="slider-article" id="art3">
                        <picture>
                            <source media="(min-width: 1024px)" srcset="/images/banners/banner-bonobon-desktop.png">
                            <source media="(min-width: 680px)" srcset="/images/banners/banner-bonobon-tablet.png">
                            <source srcset="/images/banners/banner-bonobon.png">
                            <img src="/images/banners/banner-bonobon-desktop.png" alt="">
                        </picture>
                    </article>
        
                    <article class="slider-article" id="art4">
                        <picture>
                            <source media="(min-width: 1024px)" srcset="/images/banners/banner-golosinas-desktop.png">
                            <source media="(min-width: 680px)" srcset="/images/banners/banner-golosinas-tablet.png">
                            <source srcset="/images/banners/banner-golosinas.png">
                            <img src="/images/banners/banner-golosinas-desktop.png" alt="">
                        </picture>
                    </article>
        
                </section>

                <div class="arrows">
                    <div class="arrow left" id="left-arrow">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="arrow right" id="right-arrow">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>

                <div class="navigation">

                    <div class="bttn active" id="bttn1"></div>
                    <div class="bttn" id="bttn2"></div>
                    <div class="bttn" id="bttn3"></div>
                    <div class="bttn" id="bttn4"></div>

                </div>

            </div>

                <section class="especiales">

                    <article class="ofertas">
                        <a href="">
                            <div class="hasta">
                                <p>Hasta</p>
                                <h3>2x1</h3>
                            </div>
                            <img src="/images/dest1-ofertas-golosinas.png" alt="Ofertas">
                            <div>
                                <h3>Ofertas imperdibles</h3>
                            </div>
                        </a>
                    </article>
                    <article class="nuevos">
                        <a href="">
                            <img src="/images/dest2-nuevos-arcor.png" alt="Nuevos productos Arcor">
                            <div>
                                <h3>Nuevos productos</h3>
                            </div>
                        </a>
                    </article>
                    <article class="cajas">
                        <a href="">
                            <img src="/images/dest3-cajas-candy-box.png" alt="Cajas de golosinas para regalar">
                            <div>
                                <h3>Cajas para regalar</h3>
                            </div>
                        </a>
                    </article>

                </section>

                    <section class="destacados">

                        <div class="divisor">
                            <hr>
                            <h3>Destacados</h3>
                            <hr>
                        </div>

                        <div class="productos">

                            <% products.forEach(product=> { %>
                                    <article>
                                        <a href="/productos/detalle/<%= product.id %>#slide1">
                                            <img src="/images/productos/<%= product.image %>"
                                                alt="<%= product.title %>">
                                        </a>
                                        <div class="descripcion">
                                            <a href="/productos/<%= product.id %>#slide1">
                                                <h5>
                                                    <%= product.brand.name %>
                                                </h5>
                                            </a>
                                            <h3>
                                                <a href="/productos/detalle/<%= product.id %>#slide1">
                                                    <%= product.title %>
                                                </a>
                                            </h3>
                                            <% if (product.discount > 0) { %> 
                                            <div class="precio">
                                                <small>
                                                    $<%= product.price %> 
                                                </small>
                                                <h2>
                                                    $<%= finalPrice(product.price, product.discount) %>
                                                </h2>
                                                <h3>
                                                    <%= product.discount %>% 
                                                </h3>
                                            </div>
                                            <% } else { %>
                                                <h2>
                                                    $<%= product.price %>
                                                </h2>
                                            <% } %> 
                                            <div class="cantidad">
                                                <button>-</button>
                                                <p>1</p>
                                                <button>+</button>
                                            </div>
                                            <div class="comprar">
                                                <button type="submit">Agregar al carrito</button>
                                            </div>
                                        </div>
                                    </article>
                                <% }) %>

                        </div>

                    </section>

                    <section class="categorias">

                        <div class="divisor">
                            <hr>
                            <h3>Categorías</h3>
                            <hr>
                        </div>

                        <div class="slider">

                            <ul>

                                <% categories.forEach(category => { %>
                                    <li>
                                        <a href="">
                                            <img src="/images/categorias/<%= category.image %>" alt="">
                                            <div>
                                                <h3>
                                                    <%= category.name %>
                                                </h3>
                                            </div>
                                        </a>
                                    </li>
                                <% }) %>

                                <% categories.forEach(category => { %>
                                    <li>
                                        <a href="">
                                            <img src="/images/categorias/<%= category.image %>" alt="">
                                            <div>
                                                <h3>
                                                    <%= category.name %>
                                                </h3>
                                            </div>
                                        </a>
                                    </li>
                                <% }) %>

                            </ul>

                        </div>

                    </section>

        </main>

        <%- include('./partials/footer') %>

    </body>

</html>