<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {title: 'Home' }) %>

    <body>

        <%- include('./partials/header') %>

        <%- include('./partials/nav') %>

        <main class="home">

                    <div class="slider">

                        <ul class="mobile">
                            <li> <img src="/images/banners/banner-mix-felfort.png" alt="Mix feltfort" class="slide1">
                            </li>
                            <li> <img src="/images/banners/banner-edulzatusmm.png" alt="Endulzá tus mejores momentos"
                                    class="slide2"> </li>
                            <li> <img src="/images/banners/banner-bonobon.png" alt="Bon o bon mes de la dulzura"
                                    class="slide3">
                            </li>
                            <li> <img src="/images/banners/banner-golosinas.png" alt="Golosinas marcas" class="slide4">
                            </li>
                        </ul>

                        <ul class="tablet">
                            <li> <img src="/images/banners/banner-mix-felfort-tablet.png" alt="Mix feltfort"
                                    class="slide1"> </li>
                            <li> <img src="/images/banners/banner-edulzatusmm-tablet.png"
                                    alt="Endulzá tus mejores momentos" class="slide2"> </li>
                            <li> <img src="/images/banners/banner-bonobon-tablet.png" alt="Bon o bon mes de la dulzura"
                                    class="slide3"> </li>
                            <li> <img src="/images/banners/banner-golosinas-tablet.png" alt="Golosinas marcas"
                                    class="slide4"> </li>
                        </ul>

                        <ul class="desktop">
                            <li> <img src="/images/banners/banner-mix-felfort-desktop.png" alt="Mix feltfort"
                                    class="slide1"> </li>
                            <li> <img src="/images/banners/banner-edulzatusmm-desktop.png"
                                    alt="Endulzá tus mejores momentos" class="slide2"> </li>
                            <li> <img src="/images/banners/banner-bonobon-desktop.png" alt="Bon o bon mes de la dulzura"
                                    class="slide3"> </li>
                            <li> <img src="/images/banners/banner-golosinas-desktop.png" alt="Golosinas marcas"
                                    class="slide4">
                            </li>
                        </ul>

                        <div class="buttons">
                            <button class="left">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                            <button class="right">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>

                        <div class="dots">

                            <input type="radio" name="slider" id="slide1" class="slide1" checked>
                            <input type="radio" name="slider" id="slide2" class="slide2">
                            <input type="radio" name="slider" id="slide3" class="slide3">
                            <input type="radio" name="slider" id="slide4" class="slide4">

                            <label for="slide1" class="slide1"></label>
                            <label for="slide2" class="slide2"></label>
                            <label for="slide3" class="slide3"></label>
                            <label for="slide4" class="slide4"></label>

                        </div>

                    </div>

                    <section class="especiales">

                        <article class="ofertas">
                            <a href="">
                                <div class="hasta">
                                    <p>Hasta</p>
                                    <h3>2x1</h3>
                                </div>
                                <img src="/images/dest1-ofertas-golosinas.png" alt="Ofertas">
                                <div>
                                    <h3>Ofertas imperdibles</h3>
                                </div>
                            </a>
                        </article>
                        <article class="nuevos">
                            <a href="">
                                <img src="/images/dest2-nuevos-arcor.png" alt="Nuevos productos Arcor">
                                <div>
                                    <h3>Nuevos productos</h3>
                                </div>
                            </a>
                        </article>
                        <article class="cajas">
                            <a href="">
                                <img src="/images/dest3-cajas-candy-box.png" alt="Cajas de golosinas para regalar">
                                <div>
                                    <h3>Cajas para regalar</h3>
                                </div>
                            </a>
                        </article>

                    </section>

                    <section class="destacados">

                        <div class="divisor">
                            <hr>
                            <h3>Destacados</h3>
                            <hr>
                        </div>

                        <div class="productos">

                            <% const productos=products.filter(producto=> producto.destacado == true) %>
                                <% productos.forEach(product=> { %>
                                    <article>
                                        <a href="/productos/<%= product.id %>">
                                            <img src="/images/productos/<%= product.image %>"
                                                alt="<%= product.title %>">
                                        </a>
                                        <div class="descripcion">
                                            <a href="/productos/<%= product.id %>">
                                                <h5>
                                                    <%= product.marca %>
                                                </h5>
                                            </a>
                                            <h3>
                                                <a href="/productos/<%= product.id %>">
                                                    <%= product.title %>
                                                </a>
                                            </h3>
                                            <h2>
                                                $ <%= product.price %>
                                            </h2>
                                            <div class="cantidad">
                                                <button>-</button>
                                                <p>1</p>
                                                <button>+</button>
                                            </div>
                                            <div class="comprar">
                                                <button type="submit">Agregar al carrito</button>
                                            </div>
                                        </div>
                                    </article>
                                <% }) %>

                        </div>

                    </section>

                    <section class="categorias">

                        <div class="divisor">
                            <hr>
                            <h3>Categorías</h3>
                            <hr>
                        </div>

                        <div class="slider">

                            <ul>

                                <% categorias.forEach(categoria => { %>
                                    <li>
                                        <a href="">
                                            <img src="/images/categorias/<%= categoria.image %>" alt="">
                                            <div>
                                                <h3>
                                                    <%= categoria.title %>
                                                </h3>
                                            </div>
                                        </a>
                                    </li>
                                <% }) %>

                                <% categorias.forEach(categoria => { %>
                                    <li>
                                        <a href="">
                                            <img src="/images/categorias/<%= categoria.image %>" alt="">
                                            <div>
                                                <h3>
                                                    <%= categoria.title %>
                                                </h3>
                                            </div>
                                        </a>
                                    </li>
                                <% }) %>

                            </ul>

                        </div>

                    </section>

        </main>

        <%- include('./partials/footer') %>

    </body>

</html>