<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {title: 'Login' }) %>
<script src="/js/login.js"></script>

    <body>

    <%- include('./partials/header') %>

        <main class="login">

            <h1>Iniciar Sesión</h1>

            <form action="/users/login" method="POST">

                <div class="seccion">
                    <label class="descripcion lEmail" for="email">E-mail</label>
                    <input class="completar email" type="email" name="email" id="email" placeholder="Ingrese su e-mail">
                </div>
                <small class="sEmail"></small>

                <div class="seccion">
                    <label class="descripcion lPassword" for="contraseña">Contraseña</label>
                    <div class="pass">
                        <input class="completar password" type="password" name="password" id="contraseña" placeholder="ingrese su contraseña">
                        <img src="/images/iconos/ojo1-negro.png" alt="Mostrar contraseña" class="show" title="Mostrar contraseña">
                        <img src="/images/iconos/ojo2-negro.png" alt="Ocultar contraseña" class="hide" title="Ocultar contraseña">
                    </div>
                </div>
                <small class="sPassword"></small>
                
                <div>
                    <input class="checkbox" type="checkbox" name="recuerdame" value="recuerdame" id="recuerdame">
                    <label class="recuerdame" for="recuerdame">Recuérdame</label>
                </div>

                <% if (locals.errors && errors.email) { %>
                    <small>
                        <%= errors.email.msg %>
                    </small>
                <% } %>

                <% if (locals.errors && errors.password) { %>
                    <small>
                        <%= errors.password.msg %>
                    </small>
                <% } %>

                <div class="boton-contenedor">
                    <button class="boton bttn" type="submit">Ingresar</button>
                </div>

                <p class="olvidar"><a href="#">¿Olvidaste tu contraseña?</a></p>
                <p class="cuenta">¿No tienes cuenta? <a href="/users/registro">Regístrate</a></p>

            </form>

        </main>

        <%- include('./partials/footer') %>

    </body>

</html>