<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {title: 'Registro'}) %> 
<script src="/js/register.js"></script>

<body>
    
    <%- include('./partials/header') %> 

    <main class="registro">

        <h1>Registro</h1>

        <form action="/users/registro" method="POST" enctype="multipart/form-data">

            <div class="seccion">
                <label class="descripcion lFirstName" for="nombre">Nombre:</label>
                <input class="completar firstName" type="text" name="nombre" id="nombre" placeholder="Ingresar nombre" value=<%= locals.old && old.nombre ? old.nombre : null %>>
            </div>
            <small class="sFirstName"></small>
            <% if (locals.errors && errors.nombre) { %> 
                <small> <%= errors.nombre.msg %>  </small>
            <% } %>

            <div class="seccion">
                <label class="descripcion lLastName" for="apellido">Apellido:</label>
                <input class="completar lastName" type="text" name="apellido" id="apellido" placeholder="Ingresar apellido" value=<%= locals.old && old.apellido ? old.apellido : null %>>
            </div>
            <small class="sLastName"></small>
            <% if (locals.errors && errors.apellido) { %> 
                <small> <%= errors.apellido.msg %>  </small>
            <% } %>

            <div class="seccion">
                <label class="descripcion lEmail" for="email">E-mail:</label>
                <input class="completar email" type="email" name="email" id="email" placeholder="Ingresar e-mail" value=<%= locals.old && old.email ? old.email : null %>>
            </div>
            <small class="sEmail"></small>
            <% if (locals.errors && errors.email) { %> 
                <small> <%= errors.email.msg %>  </small>
            <% } %>

            <div class="seccion">
                <label class="descripcion lImage" for="image">Imagen:</label>
                <input class="completar image" type="file" name="image" id="image" accept="image/png, image/jpeg" placeholder="Imagen">
            </div>
            <small class="sImage"></small>
            <% if (locals.errors && errors.imagen) { %> 
                <small> <%= errors.imagen.msg %>  </small>
            <% } %>

            <div class="seccion">
                <label class="descripcion lPassword1" for="contraseña">Contraseña:</label>
                <div class="pass">
                    <input class="completar password1" type="password" name="contraseña" id="contraseña" placeholder="Ingresar contraseña">
                    <img src="/images/iconos/ojo1-negro.png" alt="Ver contraseña" class="show" title="Mostrar contraseña">
                    <img src="/images/iconos/ojo2-negro.png" alt="Ocultar contraseña" class="hide" title="Ocultar contraseña">
                </div>
            </div>
            <small class="sPassword1"></small>
            <% if (locals.errors && errors.contraseña) { %> 
                <small> <%= errors.contraseña.msg %>  </small>
            <% } %>

            <div class="seccion">
                <label class="descripcion lPassword2" for="repetir">Repetir Contraseña:</label>
                <input class="completar password2" type="password" name="repetir" id="repetir" placeholder="Repetir contraseña">
            </div>
            <small class="sPassword2"></small>
            <% if (locals.errors && errors.repetir) { %> 
                    <small> <%= errors.repetir.msg %>  </small>
            <% } %>    

            <div class="seccion">
                <p>Al registrarse, estás de acuerdo con Términos y Condiciones.</p>
                <div class="boton-contenedor">
                    <button class="boton bttn" type="submit">Registrar</button>
                </div>
            </div>

        </form>

    </main>
    
    <%- include('./partials/footer') %> 

</body>
</html>